@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site is a CRUD System for the Northwind DB(Products and categories)</a>.</p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>

</div>
